<div class="flex-item doc-find-medical col-md-4">
	<div class="cta">
		<a ui-sref="docfind.doctor-zipCode" >
			<h3>Medical > </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
		</a>
	</div>
</div>

<div class=" flex-item doc-find-dental col-md-4">
	<div class="cta">
		<a ui-sref="docfind.dentist-zipCode">
			<h3>Dental > </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
		</a>
	</div> 
</div>


<div class=" flex-item doc-find-vision col-md-4">
	<div class="cta">
		<a ui-sref="docfind.specialist-zipCode">
			<h3>Specialists > </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
		</a>
	</div> 
</div>
