<div class="flex-item doc-find-medical col-md-4">
	<div class="cta">
		<a>
      		<h3>Find Your Prescription Drugs > </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
		</a>
	</div>
</div>

<div class="user-login col-md-8 flex-item">
	<a ui-sref="medicare.home" ><span  class="close-form glyphicon glyphicon-remove"> </span></a>
	<form class="command-form" >
		<div class="col-xs-6 ">
			<fieldset >
				<legend>
					<h2>Drug Research</h2>  
				</legend>
				<div class="form-group pad-top-30 main">
					<select >
						<option selected disabled>State</option>
						<option >AZ</option>
					</select>
					<select>
						<option selected disabled>County</option>
						<option>Maricopa</option>
						<option>All other counties</option>
					</select>
					<select>
						<option selected disabled>Plan</option>
						<option>Aetna Medicare Plan (HMO) </option>
						<option>Aetna Medicare Rx Plans (PDP) </option>
					</select> 
				</div>
			</fieldset>
		</div> 

		<div class="col-xs-6">
				<fieldset >
				<legend>
					<h2>Documents for AZ</h2>  
				</legend>
				<div class="form-group pad-top-30 ">
					<a href="http://www.aetnamedicare.com/documents/individual/2015/formularies/15040-aet-saver-formulary-2-2015.pdf" target="_new">
						<img src="/assets/images/medicare-drugs.png">
					</a>
				</div>
			</fieldset>
		</div>
	</form>
</div>