<div ng-controller="MedicareCtrl">
  <div ng-include="'components/search/search-header.html'"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 landing-heading">
        <div class="col-sm-7">
          <h1>Get the answers you need to choose the right Medicare plan</h1>
        </div>
        <div class="col-sm-5 hero hidden-xs">
          <img src="/assets/images/landing/medicare-hero.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 content-panel">
          <ol class="breadcrumb">
            <li><a href="/"> Aetna </a></li>
            <li><a href="/medicare">Medicare Acquisitions</a></li>
          <li><a href="/search-results">See other results &gt; </a></li>
          </ol> 
          <div class="content-container">
            <div class="row flex-panel">
               <div class="flex-item doc-find-medical col-md-4" ng-hide="commandStatus == 'dental' || commandStatus == 'vision'" ng-class="commandStatus == 'medical' ? 'command-active' :''">

                  <div class="cta">
                    <a ng-click="setMedical()" >
                      <h3>Search for a Medicare Provider > </h3>
                      <p ng-hide="commandStatus == 'medical'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
                    </a>
                  </div>

                </div>

                <div class=" flex-item doc-find-dental col-md-4" ng-hide="commandStatus == 'medical' || commandStatus == 'vision'" ng-class="commandStatus == 'dental' ? 'command-active' :''">
                  <div class="cta">
                    <a ng-click="setDental()">
                      <h3>Find Your Prescription Drugs > </h3>
                      <p ng-hide="commandStatus == 'dental'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
                    </a>
                  </div> 
               </div>


                <div class=" flex-item doc-find-vision col-md-4" ng-hide="commandStatus == 'medical' || commandStatus == 'dental'" ng-class="commandStatus == 'vision' ? 'command-active' :''">
                  <div class="cta">
                    <a ng-click="setVision()">
                      <h3>Learn the ABCDs of Medicare > </h3>
                      <p ng-hide="commandStatus == 'vision'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
                    </a>
                  </div> 
                </div>
            </div>

            <div class="row faq">
              <h2 class="title">Frequently Asked Questions (FAQ)</h2>

              <article class="accordion">
                <input type="checkbox" id="faq-1">
                <label for="faq-1">Where can I find specific information on my Identification Card?</label>
                <p><img src="/assets/images/landing/id-card-faq.png"></p>

                <input type="checkbox" id="faq-2">
                <label for="faq-2">How do I find a participating provider? </label>
                 <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>

                <input type="checkbox" id="faq-3">
                <label for="faq-3">How do I get a paper provider directory?</label>
                 <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>

                <input type="checkbox" id="faq-4">
                <label for="faq-4">How do I change my PCP?</label>
                <p>You can change your PCP by going online to Aetna Navigator®. You can also change your choice of primary care physician or dentist by filling out this form. Any changes you make will take effect as soon as we let you know that we have received your form.</p>
                
                <input type="checkbox" id="faq-5">
                <label for="faq-5">Can I change my PCP any time I want?</label>
                <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>

                <input type="checkbox" id="faq-6">
                <label for="faq-6">Can I find an Aetna dentist in the online directory?</label>
                <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>
 
              </article>

            </div>
          </div>
      </div>
    </div>

  </div>
</div>