    .medicare-1{
      background-repeat:no-repeat;
        background-image:url('/assets/images/landing/medicare-1.png');
    }
    .medicare-2{
      background-repeat:no-repeat;
        background-image:url('/assets/images/landing/medicare-2.png');
    }
    .medicare-3{
      background-repeat:no-repeat;
        background-image:url('/assets/images/landing/medicare-3.png');
    }.medicare-4{
      background-repeat:no-repeat;
        background-image:url('/assets/images/landing/medicare-4.png');
    }