<div ng-controller="MedicareCtrl">
  <div ng-include="'components/search/search-header.html'"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 landing-heading">
        <div class="col-sm-7">
          <h1>Get the answers you need to choose the right Medicare plan</h1>
        </div>
        <div class="col-sm-5 hero hidden-xs">
          <img src="/assets/images/landing/medicare-hero.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 content-panel">
          <ol class="breadcrumb">
            <li><a href="/"> Aetna </a></li>
            <li><a href="/medicare">Medicare Acquisitions</a></li>
          <li><a href="/search-results">See other results &gt; </a></li>
          </ol> 
          <div class="content-container">
            <div class="row medicare-find-plan-form" ng-class="showPlanLinks ? 'expanded': ''">
           

              <div class="row">
               <div class="col-sm-4">
                  <h2>Compare plans and costs</h2>
                  <p>Find more information at:  <a href="//:medicare.com">medicare.com</a></p>
                </div>
                <form name="medicareForm" class="col-sm-8 form" ng-submit="medicareForm.$valid && showPlanOptions()">       
                <div class="col-sm-6">
                  <input type="text" placeholder="Your Zip" ng-model="auth.zipCode" required="">
                  <input type="text" placeholder="First Name" ng-model="auth.login">
                </div>          
                <div class="col-sm-6">
                  <input type="submit" class="find-plans"  value="Explore plans">
                </div>  
                </form>
              </div>
               <div class="row right-action">
                 <a ng-click="hidePlanOptions()" class="col-md-12 close-plans" >close plans <span  class=" close-form glyphicon glyphicon-remove"> </span></a>
               </div>
              
              <div class="row">
                <div class="col-md-4 plan-link">
                  
                  <h3>Medicare Part C:<br>Aetna Medicare Advantage Plan (MA/MAPD)</h3>
                  <p>Our Medicare Advantage plans offer the same coverage as Original Medicare plus additional benefits. Many plans include prescription drug coverage, too.</p>
                  <a class="btn cta-btn" href="https://rxtools.aetnamedicare.com/plancompare/consumer/2015/individual/Home/Home?Validate=Yes&Zip={{auth.zipCode}}&Name={{auth.login}}">See plans and costs</a>
                </div>
                <div class="col-md-4 plan-link">
                  <h3>Aetna Medicare Supplement Plan <br>(Medigap)<br></h3>
                  <p>Our Medicare Supplement plans work with Original Medicare Parts A and B. You keep both Parts A and B. These plans help pay for some health care costs not covered by Original Medicare, such as deductibles and coinsurance.</p>
                  <a class="btn cta-btn" href="http://www.aetnamedicare.com/plan_choices/new-supplement_overview_az.jsp">See plans and costs</a>
                </div>
                <div class="col-md-4 plan-link">
                  <h3>Medicare<br>Part D: Aetna Medicare Rx Plan <br>(PDP)</h3>
                  <p>Our Medicare Advantage plans offer the same coverage as Original Medicare plus additional benefits. Many plans include prescription drug coverage, too.</p>
                  <a class="btn cta-btn" href="https://rxtools.aetnamedicare.com/plancompare/consumer/2015/individual/Home/Home?Validate=Yes&Zip={{auth.zipCode}}&Name={{auth.login}}&InitPlanType=PDP">See plans and costs</a>
                </div>
              </div>
            </div>
            <div ui-view class="row flex-panel">

            </div>
            <div class="row" ng-show="viewMap" >
              <div id="map" class="col-md-8 hidden-sm">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" control="mapControl">
                  <ui-gmap-markers
                            models="markers"
                            fit="true"
                            labelContent="'stuff'"
                            coords="'location'"
                            icon="'icon'"
                            labelClass="'mam-lables'">
                            <ui-gmap-windows show="show">
                                <span ng-non-bindable>{{item.name}}</span> 
                            </ui-gmap-windows>
                    </ui-gmap-markers>
                </ui-gmap-google-map>
              </div>
              <div class="col-md-4 map-locations" >
                <table class="table table-striped"> 
                    <tbody>
                        <tr class="doc-result" ng-repeat="item in  docFind.result.results">
                          <td class="dist">
                            <img src="/assets/images/marker-{{item.id + 1}}.png">
                            <p><small>{{item.distance}}</small></p>
                          </td>
                          <td>
                        <span>{{item.name}}</span>
                        <p>{{item.address}}</p>
                        <p><span>Phone:</span>{{item.phone}}</p>
                        <p><span>Specialties:</span>{{item.specialties}}</p>
                          </td>
                    </tr> 
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="row faq">
              <h2 class="title">Frequently Asked Questions (FAQ)</h2>

              <article class="accordion">
                <input type="checkbox" id="faq-1">
                <label for="faq-1">Where can I find specific information on my Identification Card?</label>
                <p><img src="/assets/images/landing/id-card-faq.png"></p>

                <input type="checkbox" id="faq-2">
                <label for="faq-2">How do I find a participating provider? </label>
                 <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>

                <input type="checkbox" id="faq-3">
                <label for="faq-3">How do I get a paper provider directory?</label>
                 <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>

                <input type="checkbox" id="faq-4">
                <label for="faq-4">How do I change my PCP?</label>
                <p>You can change your PCP by going online to Aetna Navigator®. You can also change your choice of primary care physician or dentist by filling out this form. Any changes you make will take effect as soon as we let you know that we have received your form.</p>
                
                <input type="checkbox" id="faq-5">
                <label for="faq-5">Can I change my PCP any time I want?</label>
                <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>

                <input type="checkbox" id="faq-6">
                <label for="faq-6">Can I find an Aetna dentist in the online directory?</label>
                <p>You should call the toll-free member services number on your ID card. We will review your Explanation of Benefits.</p>
 
              </article>

            </div>
          </div>
      </div>
    </div>

  </div>
</div>