<div class=" flex-item doc-find-vision col-md-4">
	<div class="cta">
		<a >
			<h3>Specialists > </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>
		</a>
	</div> 
</div>
<div class="user-login col-md-8 flex-item">
	<a ng-click="setState('docfind.home')"  ><span  class="close-form glyphicon glyphicon-remove"> </span></a>
	<form name="loginForm" class="command-form" ng-submit="loginForm.$valid && auth.trylogin('docfind.home')">
	  <div class="col-xs-7 sub-form">
	    <fieldset >
	      <legend>
	        <h2>Member Log In</h2>
	      </legend>
	      <div class="form-group pad-top-30 main">
	      <input type="text" placeholder="Name" ng-model="auth.login" required="">
	      <input type="password" placeholder="Password" required="">
	      <input class="login" type="submit" value="Secure log in">
	      <span class="secondary-action">Forgot <a>username</a> or <a>password</a>?</span>
	      </div>
	    </fieldset>
	  </div>
	</form>
</div>