    .id-card-1{
      background-repeat:no-repeat;
      background-size: cover ;
        background-image:url('/assets/images/landing/id-card-1.png');
    }
    .id-card-2{
      background-repeat:no-repeat;
      background-size: cover;
        background-image:url('/assets/images/landing/id-card-5.png');
    }
    .id-card-3{
      background-repeat:no-repeat;
      background-size: auto 100% ;
        background-image:url('/assets/images/landing/id-card-3.png');
    }.id-card-4{
      background-repeat:no-repeat;
      background-size: auto 100% ;
        background-image:url('/assets/images/landing/id-card-4.png');
    }


