
<div ng-controller="IdCardCtrl">
  <div ng-include="'components/search/search-header.html'"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 landing-heading">
        <div class="col-sm-7">
          <h1>Find all you need to know about your ID card</h1>
        </div>
        <div class="col-sm-5 hero hidden-xs">
          <img src="/assets/images/landing/id-card-hero.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 content-panel">
        <ol class="breadcrumb">
          <li><a href="/"> Aetna </a></li>
          <li><a href="/id-card">ID Card Information</a></li>
          <li><a   ng-click="seeOtherResults()">See other results &gt; </a></li>
        </ol>
          <div class="content-container">
            <div class="row flex-panel">
               <div class="flex-item id-card-1" ng-show="commandStatus == 'print' || commandStatus == 'idle' || commandStatusNext == 'print'" ng-class="commandStatus == 'print' || commandStatus == 'login' ? ['command-active', 'col-md-4'] : 'col-md-6 '">

                  <div class="cta">
                    <a ng-click="setPrint()">
                      <h3>View or print your ID card > </h3>
                      <!--<p ng-hide="commandStatus == 'login'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>-->
                    </a>
                  </div>

                </div>

                <div class=" flex-item id-card-2" ng-show="commandStatus == 'replace' || commandStatus == 'idle' || commandStatusNext == 'replace' || commandStatus =='requested'" ng-class="(commandStatus == 'replace' || commandStatus == 'login' || commandStatus =='requested') ? ['command-active','col-md-4'] : 'col-md-6'">
                  <div class="cta">
                    <a ng-click="setReplace()">
                      <h3>Order your replacement ID card > </h3>
                      <!--<p ng-hide="commandStatus == 'replace'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>-->
                    </a>
                  </div> 
               </div>

               <div class="user-login col-md-8 flex-item" ng-show="commandStatus == 'replace'">
                  <span ng-click="setIdle()" class="close-form glyphicon glyphicon-remove"> </span>
                  <form class="command-form">
                    <div class="col-xs-7 ">
                      <fieldset >
                        <legend>
                          <h2>Select a member and card type</h2>  
                        </legend>
                        <div class="form-group pad-top-30 main">
                        <select placeholder="Name">
                          <option ng-bind="login.userName"></option>
                          <option >Spouse</option>
                          <option >Child</option>
                        </select>
                        <select placeholder="Coverage">
                          <option>Medical</option>
                          <option>Dental</option>
                          <option>Vision</option>
                        </select>
                        <small>This is the email address we have on file for you</small>
                        <input type="email" placeholder="Email" value="{{login.userName}}@domain.com">
                        <input class="login" type="button" value="Order Now" ng-click="setRequested()">
                        <br><br>
                      
                        </div>
                      </fieldset>
                    </div> 

                      <div class="col-xs-5">
                        <img src="/assets/images/landing/id-card-faq-light.png">
                      </div>
                  </form>

               </div>
               <div class="user-login col-md-8 flex-item" ng-show="commandStatus == 'print'">
                  <span ng-click="setIdle()" class="close-form glyphicon glyphicon-remove"> </span>
                  <form class="command-form">
                    <div class="col-xs-7 ">
                      <fieldset >
                        <legend>
                          <h2>Select a member and card type</h2>  
                        </legend>
                        <div class="form-group pad-top-30 main">
                        <select placeholder="Name">
                          <option ng-bind="login.userName"></option>
                          <option >Spouse</option>
                          <option >Child</option>

                        </select>
                        <select placeholder="Coverage">
                          <option>Medical</option>
                          <option>Dental</option>
                          <option>Vision</option>
                        </select>

                        <a class="login btn" href="/assets/pdf/id-card.pdf" target="_blank">View/Print</a>
                        <br><br>
                      
                        </div>
                      </fieldset>
                    </div>
                  

                      <div class="col-xs-5">
                        <img src="/assets/images/landing/id-card-faq-light.png">
                      </div>
                  </form>

               </div>

               <div class="user-login col-md-8 flex-item" ng-show="commandStatus == 'login'">
                  <span ng-click="setIdle()" class="close-form glyphicon glyphicon-remove"> </span>
                  <div ng-include="'components/login/loginForm.html'"></div>

               </div>

               <div class="user-login col-md-8 flex-item" ng-show="commandStatus == 'requested'">
                  <span ng-click="setIdle()" class="close-form glyphicon glyphicon-remove"> </span>
                  <form class="command-form">
                    <div class="col-xs-7 ">
                       <fieldset class="form-group" >
                        <legend>
                          <h2>Thank you.</h2>  
                        </legend>
                        <p>You should get your new ID card in 7 to 10 business days.</p>
                        <p>If you need to see a doctor before you get your card, you can print your Actual ID card.</p>

                      </fieldset>
                     </div>
                  </form>
               </div>
            </div>
            <div class="row faq">
              <h2 class="title">Frequently Asked Questions (FAQ)</h2>

              <article class="accordion">


                <input type="checkbox" id="faq-2">
                <label for="faq-2">When Will My ID Card Arrive?</label>
                 <p>It takes 7 to 10 business days to receive an ID card once it has been mailed. Dental cards are only available for printing and will not be mailed. However, you don't need to show a card to get dental care.</p>

                <input type="checkbox" id="faq-3">
                <label for="faq-3">Information on ID Card is Incorrect</label>
                 <p>If there is incorrect information on your member ID card, and you signed up for insurance through your workplace, your benefit administrator can give us the name change for you. If you did not sign up through you workplace, please call the member services number on the back of the card.</p>

                <input type="checkbox" id="faq-4">
                <label for="faq-4">My Card Never Arrived</label>
                <div>
                  <p>It takes 7 to 10 business days to receive an ID card once it has been mailed. Dental cards are only available for printing and will not be mailed. However, you don't need to show a card to get dental care.</p>
                  <p>If it has been longer than 10 days you may need to verify that the address we have on file is correct. To find more information on how to update your mailing address click <a href="#">here</a>.</p>
                </div>

              </article>

            </div>
          </div>
      </div>
    </div>
  </div>  
</div>