<div class="flex-item id-card-1 col-md-6">

	<div class="cta">
		<a ui-sref="id-card.print">
			<h3>View or print your ID card > </h3>
			<!--<p ng-hide="commandStatus == 'login'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>-->
		</a>
	</div>

</div>

<div class=" flex-item id-card-2 col-md-6">
	<div class="cta">
		<a ui-sref="id-card.order">
			<h3>Order your replacement ID card > </h3>
			<!--<p ng-hide="commandStatus == 'replace'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>-->
		</a>
	</div> 
</div>