<div class=" flex-item id-card-2 col-md-4">
	<div class="cta">
		<a>
			<h3>Order your replacement ID card > </h3>
			<!--<p ng-hide="commandStatus == 'replace'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus quis odio vel volutpat.</p>-->
		</a>
	</div> 
</div>

<div class="user-login col-md-8 flex-item">
	<a ui-sref="id-card.home" ><span  class="close-form glyphicon glyphicon-remove"> </span></a>
	<form class="command-form">
		<div class="col-xs-7 ">
			<fieldset class="form-group" >
				<legend>
					<h2>Thank you.</h2>  
				</legend>
				<p>You should get your new ID card in 7 to 10 business days.</p>
				<p>If you need to see a doctor before you get your card, you can print your Actual ID card.</p>

			</fieldset>
		</div>
	</form>
</div>